
# Build directories
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/compile_commands.json

# macOS system files
.DS_Store

# Editor files
*.swp
*~
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# Executable and object files
*.exe
*.out
*.app
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# Logs and core dumps
*.log
core

# Test coverage
*.gcda
*.gcno
*.gcov

# Other
*.pyc
=======
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
